// Colors
$primary-color: dodgerblue;
$secondary-color: #1e90ff4d;

// Boxes
$box-horizontal-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
$box-vertical-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);

// Inputs
$input-high-border-radius: 20px;
$input-light-background: rgba(0, 0, 0, 0.08);
$input-disabled-background-color: rgba(0, 0, 0, 0.03);

// Selects
$select-high-border-radius: 20px;
$select-low-border-radius: 7px;

// Buttons
$button-light-background-color: rgba(0, 0, 0, 0.08);
$button-dark-background-color: lightgrey;
$button-high-border-radius: 50%;
