<div class="todo-app-wrapper">
  <div class="todo-list-container">
    <app-search-filter-bar (termInput)="updateSearchTerm($event)"
                           (statusChange)="updateStatus($event)"
                           (filterChange)="updateFilter($event)">
    </app-search-filter-bar>
    <hr>
    <app-to-do-create-bar></app-to-do-create-bar>
    <div class="todo-list-items">
      <app-todo-item *ngFor="let todo of todos | async"
                     [description]="todo.description"
                     [attachment]="todo.attachment"
                     [status]="todo.status"
                     [id]="todo.id">
      </app-todo-item>
    </div>
  </div>
</div>
