.todo-app-wrapper {
  display: flex;
  justify-content: center;
}

.todo-list-container {
  width: 450px;
  height: 550px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
