.todo-app-wrapper {
  display: flex;
  justify-content: center;
}

.todo-list-container {
  width: 600px;
  height: 740px;
  padding: 10px 15px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); // TODO: extract to SASS variables
}

.todo-list-items {
  margin: 10px 0;
}

.no-todos-found {
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
}
