<div class="todo-create-bar">
  <div class="input-container">
    <input class="create-input"
           name="description"
           placeholder="Escribe aquí el nuevo to-do.."
           autofocus
           [(ngModel)]="description"
           [disabled]="loading"
           (keydown.enter)="createTodo()">
    <app-spinner *ngIf="loading" class="spinner"></app-spinner>
  </div>
  <div class="actions-container">
    <label class="button upload-file-button" for="file-upload" title="Adjuntar archivo">
      <i class="material-icons">attach_file</i>
    </label>

    <input type="file"
           id="file-upload"
           class="hidden"
           accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf, image/*"
           (change)="selectAttachment($event.target.files)"
           #input>

    <app-round-button size="large" backgroundColor="dark" icon="add" title="Crear to-do" (buttonClicked)="createTodo()">
    </app-round-button>

  </div>
</div>
<div *ngIf="attachment" class="selected-file-section">
  <div class="selected-filename" title="{{attachment.name}}">
    Archivo seleccionado: {{attachment.name}}
  </div>
  <app-round-button size="small" backgroundColor="light" icon="clear" title="Descartar archivo adjunto"
                    (click)="removeAttachment()">
  </app-round-button>
</div>
