<div class="todo-create-bar">
  <div class="input-container">
    <input class="create-input"
           name="description"
           placeholder="Escribe aquí el nuevo to-do.."
           autofocus
           [(ngModel)]="description"
           [disabled]="loading"
           (keydown.enter)="createTodo()">
    <app-spinner *ngIf="loading" class="spinner"></app-spinner>
  </div>
  <div class="actions-container">
    <label class="button upload-file-button" for="file-upload" title="Adjuntar archivo">
      <i class="material-icons">attach_file</i>
    </label>

    <button class="button" (click)="createTodo()" title="Crear to-do">
      <i class="material-icons">add</i>
    </button>
    <input type="file"
           id="file-upload"
           class="hidden"
           accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf, image/*"
           (change)="selectAttachment($event.target.files)"
           #input>
  </div>
</div>
<div *ngIf="attachment" class="selected-file-section">
  <div class="selected-filename">
    Archivo adjunto seleccionado: {{attachment.name}}
  </div>
  <button class="button remove-attachment-button" (click)="removeAttachment()" title="Descartar archivo adjunto">
    <i class="material-icons">clear</i>
  </button>
</div>
