.todo-create-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-create-bar-input {
  height: 40px;
  width: 90%;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid darkgrey;
  font-size: 20px;

  &:focus {
    outline: none;
    border: 2px solid dodgerblue;
  }

  &:focus::-webkit-input-placeholder { color:transparent; } /* Hide placeholder on focus */
  &:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
  &:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
  &:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
}

.todo-create-bar-button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
}
