.todo-item {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  width: 100%;
  padding: 5px 20px;
  border: 2px solid #8e8e8e;
  margin: 5px 0;
  border-radius: 7px;
}

.todo-description {
  display: inline-block;
  position: relative;
  left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;

  &.completed {
    text-decoration: line-through;
  }
}

.todo-actions {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-attachment {
  text-decoration: none;
  color: black;
}

.button {
  height: 35px;
  width: 35px;
  margin: 0 5px;
  border: 1px solid lightgray;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .todo-description {
    max-width: 200px;
  }
}

