<div class="todo-item">
  <input type="checkbox" name="status" [ngModel]="status" (change)="finishTodo()">
  <div class="todo-description" [ngClass]="{'completed' : status}"> {{ description }}</div>
  <div class="todo-actions">
    <div *ngIf="attachment" class="todo-download" title="Descargar archivo adjunto">
      <button>
        <a href="{{attachment}}" target="_blank" download>Descargar</a>
      </button>
    </div>
    <button class="todo-delete-button" (click)="deleteTodo()"> Eliminar</button>
  </div>
</div>
