@import "../../styles/mixins.scss";

.todo-item {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  width: 100%;
  padding: 5px 20px;
  border: 2px solid #8e8e8e;
  margin: 5px 0;
  border-radius: 7px;
}

.todo-description {
  display: inline-block;
  position: relative;
  left: 10px;
  max-width: 400px;
  @include text-ellipsis;

  &.completed {
    text-decoration: line-through;
  }
}

.todo-actions {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@include mobile {
  .todo-description {
    max-width: calc(65vw - 95px);
  }
}

