.todo-item {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  width: 100%;
  padding: 5px 20px;
  border: 2px solid #8e8e8e;
  margin: 5px 0;
  border-radius: 7px;
}

.todo-description {
  display: inline-block;
  position: relative;
  left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60vw;

  &.completed {
    text-decoration: line-through;
  }
}

.todo-actions {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-delete {
  //position: absolute;
  //right: 15px;
}

.todo-download {
  //position: absolute;
  //right: 45px;
}
