<div class="todo-item">
  <input type="checkbox" name="status" [ngModel]="status" (change)="toggleTodo()">
  <div class="todo-description" [ngClass]="{'completed' : status}" title="{{description}}"> {{ description }}</div>
  <div class="todo-actions">
    <app-round-button *ngIf="attachment" size="medium" backgroundColor="light" icon="save_alt" title="Descargar archivo adjunto" (click)="downloadAttachment()">
    </app-round-button>
    <app-round-button size="medium" backgroundColor="light" icon="delete_outline" title="Eliminar to-do"  (click)="deleteTodo()">
    </app-round-button>
  </div>
</div>
