.search-filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 10px 0;
}

.search-input {
  height: 35px;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 20px; // TODO: extract to SASS variable
  font-size: 15px;

  &:focus { // Extract to SASS mixin
    outline: none;
    border: 1px solid dodgerblue;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
  /* Hide placeholder on focus */
  // Extract to SASS mixin
  &:focus:-moz-placeholder {
    color: transparent;
  }
  /* FF 4-18 */
  &:focus::-moz-placeholder {
    color: transparent;
  }
  /* FF 19+ */
  &:focus:-ms-input-placeholder {
    color: transparent;
  }
  /* IE 10+ */
}

.select-filter {
  height: 35px;
  border: 1px solid gainsboro;
  border-radius: 7px; // TODO: extract to SASS variable
  font-size: 15px;

  &:focus {
    outline: none;
  }
}

.select-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-status-option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  margin: 0 2px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.08); // Use SASS transparentize and extract
  border-radius: 20px;
  cursor: pointer;

  &.active {
    background-color: #1e90ff4d;
  }
}

.select-status-option-text {
  color: rgba(0, 0, 0, .87); // Extract to SASS variable
  font-size: 14px;
  user-select: none;
}
