@import "../../styles/variables";
@import "../../styles/mixins";

.search-filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input-select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 297px;
}

.search-input {
  height: 35px;
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: $input-high-border-radius;
  font-size: 15px;

  @include input-focus;

  @include hide-placeholder-on-focus;
}

.select-filter {
  height: 35px;
  border: 1px solid gainsboro;
  border-radius: $select-low-border-radius;
  font-size: 15px;

  @include focus-no-outline;
}

.select-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-status-option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  margin: 0 2px;
  padding: 10px;
  background-color: $input-light-background;
  border-radius: $input-high-border-radius;
  cursor: pointer;

  &.active {
    background-color: $secondary-color;
  }
}

.select-status-option-text {
  font-size: 14px;
  user-select: none;
}

@include mobile {
  .search-filter-bar {
    flex-direction: column;
    height: auto;
  }

  .search-input-select-container {
    margin-bottom: 15px;
    width: 240px;
  }

  .search-input {
    width: 120px;
  }
}

